


/* Login Styling */
.admin-login {
    background-image: url('../images/admin-background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    height: 45%;
    width: 35%;
    border-radius: 10px;
}

.login-form > div input {
    height: 5vh;
    width: 15vw;
    border-radius: 10px;
    border: 1px solid #FF8A00;
}

.login-form > div input::placeholder {
    text-align: center;
}
